.main_container {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
        padding: 1rem;
    }
}

.white_container {
    background-color: white;
    border-radius: 1rem;
    // box-shadow: 1px 1px 10px 1px #e0e0e0;

    @media screen and (max-width: 767px) {
        padding: 1rem;
        overflow: scroll;
    }
}