.range {
  position: relative;
}

.range::after {
  content: '';
  width: 100%;
  height: 8px;
  border-radius: 10px;
  display: block;
}

.range-slide {
  position: absolute;
  width: 100%;
  background: transparent;
  appearance: none;
  left: 0;
  top: -3px;
  z-index: 9;
  outline: none;
  opacity: 0;
}

.range-slide::-ms-expand {
  display: none;
}

.range-slide::-ms-clear {
  display: none;
}

.range-slide::-webkit-slider-thumb {
  width: 35px;
  height: 35px;
  margin: -3px 0 0 -3px;
  cursor: pointer;
  appearance: none;
}

.circle {
  position: absolute;
  top: -5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
  // border: solid 2px #1f2937;
  display: inline-block;
  transition: 0.2s;
}

.range-value {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20%;
  height: 8px;
  border-radius: 10px 0 0 10px;
  transition: 0.2s;
}

// ------------- RED -------------
.bg-red-100::after {
  background-color: #fee2e2;
}

.bg-red-200::after {
  background-color: #fecaca;
}

.bg-red-300::after {
  background-color: #fca5a5;
}

.bg-red-400::after {
  background-color: #f87171;
}

.bg-red-500::after {
  background-color: #ef4444;
}

.bg-red-600::after {
  background-color: #dc2626;
}

.bg-red-700::after {
  background-color: #b91c1c;
}

.bg-red-800::after {
  background-color: #991b1b;
}

.bg-red-900::after {
  background-color: #7f1d1d;
}

// ------------- GRAY -------------
.bg-gray-100::after {
  background-color: #f3f4f6;
}

.bg-gray-200::after {
  background-color: #e5e7eb;
}

.bg-gray-300::after {
  background-color: #d1d5db;
}

.bg-gray-400::after {
  background-color: #9ca3af;
}

.bg-gray-500::after {
  background-color: #6b7280;
}

.bg-gray-600::after {
  background-color: #4b5563;
}

.bg-gray-700::after {
  background-color: #374151;
}

.bg-gray-800::after {
  background-color: #1f2937;
}

.bg-gray-900::after {
  background-color: #111827;
}

// ------------- YELLOW  -------------
.bg-yellow-100::after {
  background-color: #fef3c7;
}

.bg-yellow-200::after {
  background-color: #fde68a;
}

.bg-yellow-300::after {
  background-color: #fcd34d;
}

.bg-yellow-400::after {
  background-color: #fbbf24;
}

.bg-yellow-500::after {
  background-color: #f59e0b;
}

.bg-yellow-600::after {
  background-color: #d97706;
}

.bg-yellow-700::after {
  background-color: #b45309;
}

.bg-yellow-800::after {
  background-color: #92400e;
}

.bg-yellow-900::after {
  background-color: #78350f;
}
// ------------- GREEN  -------------
.bg-green-100::after {
  background-color: #d1fae5;
}

.bg-green-200::after {
  background-color: #a7f3d0;
}

.bg-green-300::after {
  background-color: #6ee7b7;
}

.bg-green-400::after {
  background-color: #34d399;
}

.bg-green-500::after {
  background-color: #10b981;
}

.bg-green-600::after {
  background-color: #059669;
}

.bg-green-700::after {
  background-color: #047857;
}

.bg-green-800::after {
  background-color: #065f46;
}

.bg-green-900::after {
  background-color: #064e3b;
}
// ------------- BLUE  -------------
.bg-blue-100::after {
  background-color: #dbeafe;
}

.bg-blue-200::after {
  background-color: #bfdbfe;
}

.bg-blue-300::after {
  background-color: #93c5fd;
}

.bg-blue-400::after {
  background-color: #60a5fa;
}

.bg-blue-500::after {
  background-color: #3b82f6;
}

.bg-blue-600::after {
  background-color: #2563eb;
}

.bg-blue-700::after {
  background-color: #1d4ed8;
}

.bg-blue-800::after {
  background-color: #1e40af;
}

.bg-blue-900::after {
  background-color: #1e3a8a;
}
// ------------- INDIGO  -------------
.bg-indigo-100::after {
  background-color: #e0e7ff;
}

.bg-indigo-200::after {
  background-color: #c7d2fe;
}

.bg-indigo-300::after {
  background-color: #a5b4fc;
}

.bg-indigo-400::after {
  background-color: #818cf8;
}

.bg-indigo-500::after {
  background-color: #6366f1;
}

.bg-indigo-600::after {
  background-color: #4f46e5;
}

.bg-indigo-700::after {
  background-color: #4338ca;
}

.bg-indigo-800::after {
  background-color: #3730a3;
}

.bg-indigo-900::after {
  background-color: #312e81;
}
// ------------- PURPLE  -------------
.bg-purple-100::after {
  background-color: #ede9fe;
}

.bg-purple-200::after {
  background-color: #ddd6fe;
}

.bg-purple-300::after {
  background-color: #c4b5fd;
}

.bg-purple-400::after {
  background-color: #a78bfa;
}

.bg-purple-500::after {
  background-color: #8b5cf6;
}

.bg-purple-600::after {
  background-color: #7c3aed;
}

.bg-purple-700::after {
  background-color: #6d28d9;
}

.bg-purple-800::after {
  background-color: #5b21b6;
}

.bg-purple-900::after {
  background-color: #4c1d95;
}
// ------------- PINK  -------------
.bg-pink-100::after {
  background-color: #fce7f3;
}

.bg-pink-200::after {
  background-color: #fbcfe8;
}

.bg-pink-300::after {
  background-color: #f9a8d4;
}

.bg-pink-400::after {
  background-color: #f472b6;
}

.bg-pink-500::after {
  background-color: #ec4899;
}

.bg-pink-600::after {
  background-color: #db2777;
}

.bg-pink-700::after {
  background-color: #be185d;
}

.bg-pink-800::after {
  background-color: #9d174d;
}

.bg-pink-900::after {
  background-color: #831843;
}
