$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$indigo-50: #eef2ff;
$indigo-100: #e0e7ff;
$indigo-200: #c7d2fe;
$indigo-300: #a5b4fc;
$indigo-400: #818cf8;
$indigo-500: #6366f1;
$indigo-600: #4f46e5;
$indigo-700: #4338ca;
$indigo-800: #3730a3;
$indigo-900: #312e81;

$dark-gray: rgba(50, 50, 62, 1);

$iconoclast: #667eea;
$curate: #0081cb;

$blue-100: #dbeafe;
$blue-200: #bfdbfe;
$blue-300: #93c5fd;
$blue-400: #60a5fa;
$blue-500: #3b82f6;
$blue-600: #2563eb;
$blue-700: #1d4ed8;
$blue-800: #1e40af;
$blue-900: #1e3a8a;

$iconoclastColors: (
  '100': #e0e7ff,
  '200': #c7d2fe,
  '300': #a5b4fc,
  '400': #818cf8,
  '500': #6366f1,
  '600': #4f46e5,
  '700': #4338ca,
  '800': #3730a3,
  '900': #312e81,
);
$curateColors: (
  '100': #dbeafe,
  '200': #bfdbfe,
  '300': #93c5fd,
  '400': #60a5fa,
  '500': #3b82f6,
  '600': #2563eb,
  '700': #1d4ed8,
  '800': #1e40af,
  '900': #1e3a8a,
);
