.now {
    width: 47%;
}

.classroom {
    height: 25rem;

    .block3 {
        .flex_column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.border_tb {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    @media screen and (max-width: 767px) {
        border-top: none;
        border-bottom: 1px solid white;
    }

}

.quote {
    border-left: 7px solid #CA2222;

    @media screen and (max-width: 767px) {

        svg {
            width: 1.5rem;
            margin-left: 1rem; 
        }
    }


}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.picture {
    background-position: center;
    background-repeat: no-repeat; 
    background-color: black;
    box-shadow: none;
}

@media screen and (max-width: 767px) {
    .classroom {
        height: 90%;
        padding: 1rem;

        h1 {
            height: 3rem;
            font-size: 1.75rem;
        }

        .block1 {
            flex-direction: column;
            width: 100%;
            text-align: center;
            margin-top: .5rem;
            margin-bottom: .5rem;
            height: 8rem;

            h2 {
                font-size: 1.5rem;
                margin-bottom: 0;
            }
          img {
              height: 7rem;
              width: 7rem;
              background-position: center;
              background-repeat: no-repeat; 
          }
        }
        .block2 {
            height: 10rem;
            flex-direction: column;
            width: 100%;
            margin: 0;
            margin-top: 1rem;
            p {
                font-size: .85rem;
                overflow: scroll;
            }

        }
        .block3{
            height: 12%;
            flex-direction: row-reverse;
            width: 100%;
            font-size: 13px;
            margin-top: 0;
            .flex_column {
                display: flex;
                flex-direction: column-reverse;
                height: 100%;
                align-items: center;
            }

            svg {
                height: 1rem;
            }

            button {
                border-radius: 2rem;
            }
        }
    }
}

.arrow-up {
    width: 0;
    height: 0;
    
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    
    border-bottom: 20px solid #EDF2F7;
}
