.now {
  width: 47%;
}

.green-btn {
  background-color: rgba(72, 187, 120) !important;
  &:hover {
    background-color: rgba(56, 161, 105) !important;
  }
}

.red-btn.transparent:hover {
  svg {
    color: white;
  }
}

.quote {
  border-left: 7px solid #ca2222;

  @media screen and (max-width: 767px) {
    svg {
      width: 1.5rem;
      margin-left: 1rem;
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.picture {
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  box-shadow: none;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .classroom {
    height: 90%;
    padding: 1rem;

    h1 {
      height: 3rem;
      font-size: 1.75rem;
    }

    .block1 {
      flex-direction: column;
      width: 100%;
      text-align: center;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      height: 8rem;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
      }

      img {
        height: 7rem;
        width: 7rem;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .block2 {
      height: 10rem;
      flex-direction: column;
      width: 100%;
      margin: 0;
      margin-top: 1rem;

      p {
        font-size: 0.85rem;
        overflow: scroll;
      }
    }

    .block3 {
      height: 12%;
      flex-direction: row-reverse;
      width: 100%;
      font-size: 13px;
      margin-top: 0;

      .flex_column {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
      }

      svg {
        height: 1rem;
      }

      button {
        border-radius: 2rem;
      }
    }
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  border-bottom: 20px solid #cbd5e0;
}

.custom-tagsinput-tag a::before {
  content: ' ×';
}
.react-tagsinput .react-tagsinput-input {
  font-size: 16px;
  width: 14rem;
  font-family: 'Poppins', sans-serif;
}
.react-tagsinput.react-tagsinput--focused {
  border-color: #bee3f8;
}
.react-tagsinput {
  border-radius: 8px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.lesson-body-container {
  min-height: calc(100vh - 98px);
  .lesson-page-container {
    min-height: calc(100% - 110px);
  }
}

.white-text-on-hover {
  &:hover {
    color: #fff !important;
  }
}

.text-shadow {
  text-shadow: 0.2rem 0.2rem 3px #352c2cb3;
}

.roster-row {
  transition: all 500ms ease-in-out;
}

.roster-row:hover .roster-actions {
  transform: translateX(0%);
  max-height: unset;
  opacity: 1;

  & button {
    transition: all 500ms ease-in-out;
    transform: translateX(0%);
  }
}
.roster-actions {
  height: 100%;
  opacity: 0.8;
  max-height: 0;
  transition: all 500ms ease-in-out;

  & button {
    transition: all 500ms ease-in-out;
    &:nth-child(1) {
      transform: translateX(-200%);
    }
    &:nth-child(2) {
      transform: translateX(200%);
    }
  }
}

.blink-error {
  border: 2px solid red;
  animation: shake 0.5s;
  animation-delay: 1s;
  transform: translateX(0px);
}

@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

.lesson-form-block {
  margin-bottom: 1rem;
  margin-top: 1rem;
  textarea,
  input {
    background-color: $lesson-form-block-bg;
    color: $lesson-form-block-color;
    border-color: $lesson-form-block-border;
  }
  label {
    color: $lesson-form-block-label;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.25rem;
  }
}

.review-icon-wrapper {
  background-color: $lesson-form-block-bg;
  border-radius: 8px;
  position: relative;
  padding: 12px 30px;
  // display: flex;
  // align-items: center;
}

// .review-icon-wrapper .anticon {
//   position: absolute;
//   width: 16px;
//   height: 16px;
//   color: $lesson-form-block-label;
//   font-size: 16px;
//   line-height: 1;
// }

// .review-icon-wrapper .icon-wrapper-active {
//   color: $lesson-form-block-color;
// }

// .review-icon-wrapper .anticon:first-child {
//   left: 0;
// }

// .review-icon-wrapper .anticon:last-child {
//   right: 0;
// }

@keyframes pageAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
