@import 'lessons';

.container {
    min-height: 100vh;
    @media screen and (max-width: 767px) {
        height: 100vh;
        width: 100vw;
    }
}

#grey_image {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.main_container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    @media screen and (max-width: 767px) {
        padding: 1rem;
    }
}

.white_container {
    background-color: white;
    border-radius: 1rem;
    // box-shadow: 1px 1px 10px 1px #e0e0e0;

    @media screen and (max-width: 767px) {
        padding: 1rem;
        overflow: scroll;
    }
}

.white_back {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 1px #e0e0e0;
    @media screen and (max-width: 767px) {
        padding: 1rem;
        overflow: scroll;
    }
}

///////////

.background-test {
    background-color: #fafafa;
}

.test {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 1px #e0e0e0;
}

.size {
    svg {
        width: 1rem;
    }
}

.login {
    width: 25vw;
    height: 75vh;

    h1 {
        font-size: 2.5rem;
        color: #1C2C42;
    }

    .input {
        border-bottom: 1px solid #1C2C42;
        margin-bottom: .5rem;
        padding-top: .5rem;
        padding-bottom: .2rem;
        display: flex;
        justify-content: center;
        align-items: center; 

        .icon {
            width: 2rem;
        }

        label {
            width: auto;
            margin-right: .5rem;
            border: none;
            padding: .5rem;
        }
    }

    button {
        padding: .75rem;
        margin: 2rem;
        border-radius: 2rem;
    }
}

.reg {
    h1 {
        font-size: 2.5rem;
        color: #1C2C42;
    }

    .input {
        border-bottom: 1px solid #1C2C42;
        margin-right: 2rem;

        label {
            width: auto;
            margin-right: .5rem;
            border: none;
            padding: .5rem;
        }

        input {
            margin: 0;
        }
    }

    .block {
        border-bottom: 2px dotted #1C2C42;
        padding-bottom: 1rem;
    }

}

.banner {
    width: 100%;
    height: 10%;
}

.red {
    color: red;
    height: 100%;
    // width: 5rem;
}

.title {
    font-size: 3rem;
    padding: .5rem;
    height: 100%;
    padding: 0;
}

@media screen and (max-width: 767px) {
    // .test {
    //     // border-radius: 0%;
    // }

    .height {
        height: 90%;
    }
    .login {
        width:100%;
        height:100%;

        h1 {
            font-size: 1.5rem;
        }

        .input {
            border-bottom: 1px solid #1C2C42;
            margin-bottom: .5rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
            display: flex;
            justify-content: center;
            align-items: center; 
        }

        button {
            padding: .5rem;
        }
    }

    .reg {
        padding: 1rem;

        h1 {
            font-size: 1.5rem;
        }

        svg {
            width: auto;
        }

        .block {
            width: full;
        }

        .input {
            margin-bottom: 1rem;
        }
    }

    .banner {
        margin-top: .5rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 4rem;
   
    }

    .red {
        color: red;
        height: 4rem;
        width: 4rem;
        svg{
            height: 2rem;
            width: 2rem;
        } 
    }
  

    .title {
        font-size: 1.5rem;
        padding: .5rem;
        height: 4rem;
    }
}

