/* OTHER / GENERAL */
@import 'general/scrollbars';

/* MAIN PARTS */
@import 'lessons';

/*
  NOTE: This file should be converted into simple css file and
  should integrate tailwind specific styling methods.
  After that, this import can be removed from index.tsx */

.container {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;

  @media screen and (max-width: 767px) {
    height: 100vh;
    width: 100vw;
  }
}

#grey_image {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.main_container {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    padding: 1rem;
  }
}

.manual-overflow::-webkit-scrollbar {
  width: 2px;
  height: 10px;
  position: absolute;
  right: 0;
}

/* Track */
.manual-overflow::-webkit-scrollbar-track {
  border-radius: 0;
  background: #20262b;
}

/* Handle */
.manual-overflow::-webkit-scrollbar-thumb {
  background: #4b5359;
  border-radius: 0;
  border: 0 solid #4b5359;
}

/* Handle on hover */
.manual-overflow::-webkit-scrollbar-thumb:hover {
  background: #4b5359;
}

.manual-overflow {
  overflow-y: auto;
  overflow-x: auto;
}

.white_container {
  background-color: white;
  border-radius: 1rem;
  // box-shadow: 1px 1px 10px 1px #e0e0e0;

  @media screen and (max-width: 767px) {
    padding: 1rem;
    overflow: scroll;
  }
}

.container_background {
  background-color: #f0f2f5;
}

.inner_card {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  border-color: rgba(203, 213, 224, 0.5);
  border-width: 1px;
  border-radius: 0.375rem;
}

.custom_tooltip_container {
  position: relative;
  max-width: 100%;

  .custom_tooltip {
    visibility: hidden;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #20262b;
    color: #fff;
    position: absolute;
    font-size: 12px;
    width: 200px;
    opacity: 0;
    left: 280px;
    top: 0;
    z-index: 9999;
    border-radius: 3px;
    transition: opacity 0.5s;
    transform: translateX(-10px);
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    .custom_tooltip {
      transform: translateX(0px);
      opacity: 1;
      visibility: visible;
    }
  }
}

.sidenav {
  background: #20262b;
  user-select: none;
  position: relative;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

  .sidenav_sub_icon_wrapper {
    font-size: 12px;
    width: 12px;
    height: 12px;
    margin-right: 4px;
  }

  .sidenav_sub_icon_color {
    color: #c6c6c6;
  }

  .sidenav_icon_inactive {
    color: #c6c6c6;
  }

  .sidenav_icon_collapsed {
    position: absolute;
    right: -15px;
  }

  .sidenav_logo,
  .sidenav_profile {
    min-width: 16rem;
    border-bottom: 1px solid #2b343b;
  }

  .sidenav_icon_wrapper {
    background: #4b5359;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    padding: 4px;

    svg {
      text-shadow: 0 0 10px rgba(22, 199, 255, 0.5);
    }
  }

  .sidenav_sub_item {
    color: #c3c3c3;

    &:hover {
      background: #2b343b;

      svg {
        animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        backface-visibility: hidden;
        transform-origin: top right;
      }
    }
  }

  .sidenav_main_item {
    color: #c6c6c6;

    &:hover {
      background: #2b343b;

      svg:first-child {
        animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        backface-visibility: hidden;
        transform-origin: top right;
      }
    }
  }

  .sidenav_sub_item_active {
    background: #2b343b;
    color: #c6c6c6;
  }

  .sidenav_main_item_active {
    background: #2b343b;
  }

  .sidenav_main_item_active_color {
    color: #fff;
  }

  @keyframes bellshake {
    0% {
      transform: rotate(0);
    }

    15% {
      transform: rotate(5deg);
    }

    30% {
      transform: rotate(-5deg);
    }

    45% {
      transform: rotate(4deg);
    }

    60% {
      transform: rotate(-4deg);
    }

    75% {
      transform: rotate(2deg);
    }

    85% {
      transform: rotate(-2deg);
    }

    92% {
      transform: rotate(1deg);
    }

    100% {
      transform: rotate(0);
    }
  }
}

.white_back {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px #e0e0e0;

  @media screen and (max-width: 767px) {
    padding: 1rem;
    overflow: scroll;
  }
}

///////////

.background-test {
  background-color: #fafafa;
}

.test {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px #e0e0e0;
}

.size {
  svg {
    width: 1rem;
  }
}

.reg {
  h1 {
    font-size: 2.5rem;
    color: #1c2c42;
  }

  .input {
    border-bottom: 1px solid #1c2c42;
    margin-right: 2rem;

    label {
      width: auto;
      margin-right: 0.5rem;
      border: none;
      padding: 0.5rem;
    }

    input {
      margin: 0;
    }
  }

  .block {
    border-bottom: 2px dotted #1c2c42;
    padding-bottom: 1rem;
  }
}

.banner {
  width: 100%;
  height: 10%;
}

.red {
  color: red;
  height: 100%;
  // width: 5rem;
}

.title {
  font-size: 3rem;
  height: 100%;
  padding: 0;
}

.roomTiles {
  &.is-open {
    transition: transform ease-out 0.3s;
    transition-delay: 0ms;
    transform-origin: top;
    animation: showCards 0.3s linear;
  }

  &.hide {
    transform-origin: top;
    animation: hideCards 0.2s linear;
    transition: transform ease-in 0.2s;
  }
}

@keyframes showCards {
  0% {
    opacity: 0;
    transform: scaleY(50%);
  }

  25% {
    opacity: 0.5;
  }

  50% {
    transform: scaleY(100%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideCards {
  0% {
    opacity: 0.1;
    transform: scaleY(100%);
  }

  100% {
    transform: scaleY(0%);
    opacity: 0;
  }
}

.hide__scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.option__list {
  display: block;
  overflow: hidden;

  &.hide {
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-in, display 0.3s ease-out;
  }

  &.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-in, display 0.3s ease-in;
  }
}

@media screen and (max-width: 767px) {
  .test {
    max-height: 80vh;
  }

  .height {
    height: 90%;
  }

  .login {
    width: 100%;
    height: 100%;

    h1 {
      font-size: 1.5rem;
    }
  }

  .reg {
    padding: 1rem;

    h1 {
      font-size: 1.5rem;
    }

    svg {
      width: auto;
    }

    .block {
      width: full;
    }

    .input {
      margin-bottom: 1rem;
    }
  }

  .banner {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 4rem;
  }

  .red {
    color: red;
    height: 4rem;
    width: 4rem;

    svg {
      height: 2rem;
      width: 2rem;
    }
  }

  .title {
    font-size: 1.5rem;
    padding: 0.5rem;
    height: 4rem;
  }
}

// For Overlay Text Animation
.fade__animation {
  animation: fade 1.5s ease-in-out;
}

.fade__animation2 {
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
// Tooltip Styles

[data-tooltip] {
  position: relative;
  z-index: 9999;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]::before,
[data-tooltip]::after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px); /* 5px is the size of the arrow */
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]::before {
  content: attr(data-tooltip);
  padding: 5px 10px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(59, 72, 80, 0.9);
  /* stylelint-disable */
  background-image: linear-gradient(
    30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44)
  );
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]::after {
  content: '';
  border-style: solid;
  border-width: 5px 5px 0 5px; /* CSS triangle */
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s;
  transform-origin: top;
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */

[data-tooltip]:hover::before {
  transition-delay: 0.3s;
  transform: translate(-50%, -5px) scale(1);
}

[data-tooltip]:hover::after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}

/* LEFT */
// Tooltip + arrow

[data-tooltip-location='left']::before,
[data-tooltip-location='left']::after {
  left: auto;
  right: calc(100% + 5px);
  bottom: 50%;
}

/* Tooltip */
[data-tooltip-location='left']::before {
  transform: translate(-5px, 50%) scale(0.5);
}

[data-tooltip-location='left']:hover::before {
  transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
[data-tooltip-location='left']::after {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}

[data-tooltip-location='left']:hover::after {
  transform: translateY(50%) scaleX(1);
}

/* RIGHT */
[data-tooltip-location='right']::before,
[data-tooltip-location='right']::after {
  left: calc(100% + 5px);
  bottom: 50%;
}

[data-tooltip-location='right']::before {
  transform: translate(5px, 50%) scale(0.5);
}

[data-tooltip-location='right']:hover::before {
  transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location='right']::after {
  border-width: 5px 5px 5px 0;
  border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}

[data-tooltip-location='right']:hover::after {
  transform: translateY(50%) scaleX(1);
}

/* BOTTOM */
[data-tooltip-location='bottom']::before,
[data-tooltip-location='bottom']::after {
  top: calc(100% + 5px);
  bottom: auto;
}

[data-tooltip-location='bottom']::before {
  transform: translate(-50%, 5px) scale(0.5);
}

[data-tooltip-location='bottom']:hover::before {
  transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location='bottom']::after {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
  transform-origin: bottom;
}

/* BOTTOM LEFT */
[data-tooltip-location='bottomleft']::before,
[data-tooltip-location='bottomleft']::after {
  top: calc(100% + 5px);
  bottom: auto;
}

[data-tooltip-location='bottomleft']::before {
  transform: translate(-50%, 5px) scale(0.5);
}

[data-tooltip-location='bottomleft']:hover::before {
  transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location='bottomleft']::after {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
  transform-origin: bottom;
  left: 33%;
}

.animate__border::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(23, 165, 137, 1);
  animation: borderAnimation 0.5s linear;
  border-radius: 12px;
}

@keyframes borderAnimation {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.translate__animation {
  // to hide = -65px
  // to show = 0px
  transform: translateY(-65px);
  transition: transform ease-in-out 0.5s;

  &.show {
    transform: translateY(0);
  }

  &.hide {
    transform: translateY(-65px);
  }
}

.pageChange__btn {
  width: 5rem;
  transition: width 0.1s;

  &:hover {
    width: 5.2rem;
  }

  color: #fff;
}

// User Profile Tabs

.user__profile-tabs {
  & .tab {
    transition: all 0.3s ease;
    &.active {
      background: #e0e7ff;
      color: #4338ca;
    }
    &:not(.active):hover {
      background-color: #eef2ff;
      color: #4338ca;
    }
    background: transparent;
    color: #6b7280;
    text-align: center;
  }
}

.animate__sidebar-btn {
  transition: width 0.3s ease;

  &:hover {
    width: 3rem;
  }
  // opening sidemenu
  &.not-collapse {
    animation: sidebar-not-collapse 0.2s ease;
  }

  &.collapse {
    animation: sidebar-collapse 1s ease;
  }
}

@keyframes sidebar-collapse {
  from {
    transform: translateX(-64px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes sidebar-not-collapse {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100px);
  }
}
.comment-box {
  transition: all 0.15s ease-in-out;
  &:focus-within {
    border: 1px solid #d1d5db;
  }
}
.comment-box__inner {
  transition: all 0.15s ease-in-out;
  border-bottom: 1px solid transparent;

  &:focus-within {
    border-bottom: 1px solid #f3f4f6;
  }
}

.size-stamp,
.delete-comment {
  display: none;
}
.comment-main:hover .size-stamp {
  display: block;
}
.comment-main:hover .delete-comment {
  display: block;
}

.notebook-lastedit {
  // display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.note-container:hover .notebook-lastedit {
  visibility: visible;
  opacity: 1;
}

.feedback-name:hover {
  text-decoration: underline;
}

.notebook-type {
  animation: show-notebook-type 0.4s ease-in-out;
}

@keyframes show-notebook-type {
  from {
    transform: translateX(65px);
  }
  to {
    transform: translateX(0px);
  }
}

// Universal Lesson Builder - styles starts here

.ulb_actions {
  &.show {
    opacity: 1;
    visibility: visible;
  }
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.rowWrapper {
  &:hover {
    & #editControlsWrapper {
      opacity: 1;
      visibility: visible;
    }
  }
  & #editControlsWrapper {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
}

.hierarchy_submenu {
  &:hover {
    & .edit_icon {
      opacity: 1;
      visibility: visible;
    }
  }
  & .edit_icon {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
}

.dark-backdrop {
  opacity: 0.75;
  animation-name: darkBackdrop;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes darkBackdrop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.75;
  }
}

.feedback-emoji {
  &:hover {
    filter: grayscale(0%) !important;
    opacity: 1;
    transform: scale(1.1);
  }
  &.selected {
    filter: grayscale(0%) !important;
    transform: scale(1.1);
    opacity: 1;
  }
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%) !important;
  opacity: 0.5;
  transform: scale(1);
}
.emotion_range {
  &.show {
    overflow: hidden;
    transition: transform 0.3s ease-out; // note that we're transitioning max-height, not height!
    height: 6rem;
    transform: scaleY(1);
  }

  transform: scaleY(0);
}

.custom-scrollbar {
  scrollbar-color: #eee white;
  scrollbar-width: thin;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #3b82f6;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #dc2626;
  cursor: pointer;
  border-color: #fff;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #dc2626;
  cursor: pointer;
  border-color: #fff;
}

.continue_btn {
  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  transition: all 0.3s ease-in-out;
}

.picker-wrapper {
  * {
    width: auto;
  }
}
