@import 'lessons';

.background-test {
    background-color: #fafafa;
}

.test {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 1px #e0e0e0;
}

.login {
    width: 25vw;
    height: 75vh;

    h1 {
        font-size: 2.5rem;
        color: #1C2C42;
    }

    .input {
        border-bottom: 1px solid #1C2C42;
        margin-bottom: .75rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center; 

        .icon {
            width: 2rem;
        }

        label {
            width: auto;
            margin-right: .5rem;
            border: none;
            padding: .5rem;
        }

        input {
            margin: 0;
        }
    }

    button {
        padding: .75rem;
        margin: 2rem;
        border-radius: 2rem;
    }
}

.reg {
    h1 {
        font-size: 2.5rem;
        color: #1C2C42;
    }

    .input {
        border-bottom: 1px solid #1C2C42;
        margin-right: 2rem;

        label {
            width: auto;
            margin-right: .5rem;
            border: none;
            padding: .5rem;
        }

        input {
            margin: 0;
        }
    }

    .block {
        border-bottom: 2px dotted #1C2C42;
        padding-bottom: 1rem;
    }

    button {
        width: 12rem;
        height: 2rem;
    }

}

.banner {
    margin-bottom: 1rem;
    width: 100%;
    height: 5rem;
}

.red {
    color: red;
    height: 5rem;
    width: 5rem;
}

.title {
    font-size: 3rem;
    padding: .5rem;
    height: 5rem;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .test {
        // border-radius: 0%;
    }

    .height {
        height: 90%;
    }
    .login {
        width:100%;
        height:100%;

        h1 {
            font-size: 1.5rem;
        }

        .input {
            padding:.25rem;
        }

        button {
            padding: .5rem;
        }
    }

    .reg {
        padding: 1rem;

        h1 {
            font-size: 1.5rem;
        }

        svg {
            width: auto;
        }

        .block {
            width: full;
        }

        .input {
            margin-bottom: 1rem;
        }
    }

    .banner {
        margin-top: .5rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 4rem;
   
    }

    .red {
        color: red;
        height: 4rem;
        width: 4rem;
        svg{
            height: 2rem;
            width: 2rem;
        } 
    }
  

    .title {
        font-size: 1.5rem;
        padding: .5rem;
        height: 4rem;
    }
}

