$indigo-100: #e0e7ff;
$indigo-200: #c7d2fe;
$indigo-300: #a5b4fc;
$indigo-400: #818cf8;
$indigo-500: #6366f1;
$indigo-600: #4f46e5;
$indigo-700: #4338ca;
$indigo-800: #3730a3;
$indigo-900: #312e81;

$iconoclast: #667eea;
$curate: #0081cb;

$blue-100: #dbeafe;
$blue-200: #bfdbfe;
$blue-300: #93c5fd;
$blue-400: #60a5fa;
$blue-500: #3b82f6;
$blue-600: #2563eb;
$blue-700: #1d4ed8;
$blue-800: #1e40af;
$blue-900: #1e3a8a;

.iconoclast .iconoclast\:bg-main {
  background-color: $iconoclast;
}

.curate .curate\:bg-main {
  background-color: $curate;
}

.iconoclast .iconoclast\:border-main {
  border-color: $iconoclast;
}

.curate .curate\:border-main {
  border-color: $curate;
}

.iconoclast .iconoclast\:bg-100 {
  background-color: $indigo-100;
}

.iconoclast .iconoclast\:bg-200 {
  background-color: $indigo-200;
}

.iconoclast .iconoclast\:bg-300 {
  background-color: $indigo-300;
}

.iconoclast .iconoclast\:bg-400 {
  background-color: $indigo-400;
}

.iconoclast .iconoclast\:bg-500 {
  background-color: $indigo-500;
}

.iconoclast .iconoclast\:bg-600 {
  background-color: $indigo-600;
}

.iconoclast .iconoclast\:bg-700 {
  background-color: $indigo-700;
}

.iconoclast .iconoclast\:bg-800 {
  background-color: $indigo-800;
}

.iconoclast .iconoclast\:bg-900 {
  background-color: $indigo-900;
}

.iconoclast .iconoclast\:border-100 {
  border-color: $indigo-100;
}

.iconoclast .iconoclast\:border-200 {
  border-color: $indigo-200;
}

.iconoclast .iconoclast\:border-300 {
  border-color: $indigo-300;
}

.iconoclast .iconoclast\:border-400 {
  border-color: $indigo-400;
}

.iconoclast .iconoclast\:border-500 {
  border-color: $indigo-500;
}

.iconoclast .iconoclast\:border-600 {
  border-color: $indigo-600;
}

.iconoclast .iconoclast\:border-700 {
  border-color: $indigo-700;
}

.iconoclast .iconoclast\:border-800 {
  border-color: $indigo-800;
}

.iconoclast .iconoclast\:border-900 {
  border-color: $indigo-900;
}

.curate .curate\:bg-100 {
  background-color: $blue-100;
}

.curate .curate\:bg-200 {
  background-color: $blue-200;
}

.curate .curate\:bg-300 {
  background-color: $blue-300;
}

.curate .curate\:bg-400 {
  background-color: $blue-400;
}

.curate .curate\:bg-500 {
  background-color: $blue-500;
}

.curate .curate\:bg-600 {
  background-color: $blue-600;
}

.curate .curate\:bg-700 {
  background-color: $blue-700;
}

.curate .curate\:bg-800 {
  background-color: $blue-800;
}

.curate .curate\:bg-900 {
  background-color: $blue-900;
}

.curate .curate\:border-100 {
  border-color: $blue-100;
}

.curate .curate\:border-200 {
  border-color: $blue-200;
}

.curate .curate\:border-300 {
  border-color: $blue-300;
}

.curate .curate\:border-400 {
  border-color: $blue-400;
}

.curate .curate\:border-500 {
  border-color: $blue-500;
}

.curate .curate\:border-600 {
  border-color: $blue-600;
}

.curate .curate\:border-700 {
  border-color: $blue-700;
}

.curate .curate\:border-800 {
  border-color: $blue-800;
}

.curate .curate\:border-900 {
  border-color: $blue-900;
}
