@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

#container {
  height: 801px;
  overflow: visible;
  padding: 0;
  position: relative;
}

.sticky-container {
  font-family: 'Patrick Hand', cursive;
  ._sticky {
    position: relative;
    max-width: 520px;
    max-height: 250px;
    user-select: text !important;
    &:focus {
      cursor: text !important;
    }

    border: transparent;
    display: inline-block;
    margin: 10px;
    // padding: 18px 10px 10px 10px;
    box-sizing: border-box;
    box-shadow: 6px 7px 12px -5px rgba(0, 0, 0, 0.75);
    font-size: 24px;

    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }
}
