a,
button {
  @apply outline-none;
}

a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus {
  @apply outline-none;
}

.btn {
  @apply font-bold uppercase;
}

.btn-default {
  @apply text-xs px-4 py-2;
}

.btn-rounded {
  @apply rounded-lg;
}

.btn-indigo {
  @apply bg-indigo-500 text-white;
}

.btn-indigo:hover,
.btn-indigo:active,
.btn-indigo:focus {
  @apply bg-indigo-600 outline-none;
}

.btn-icon {
  @apply flex flex-row items-center justify-center;
}
