.emoji-slider-feedback {
  // Awful colors
  --awful-gradient-start: #fd8d58;
  --awful-gradient-end: #dc611e;
  --awful-fill: #fb8043;
  --awful-radial: #ffccb0;
  --awful-border: #{rgba(#de5b1a, 0.5)};
  --awful-shadow: #{rgba(#90420e, 0.5)};
  --awful-mouth-fill: #a34106;
  --awful-mouth-shadow: #{rgba(#c45f28, 0.6)};
  --awful-mouth-shine: #fec6a7;
  --awful-color: #ffaa68;
  // Bad colors
  --bad-gradient-start: #fea954;
  --bad-gradient-end: #da7315;
  --bad-fill: #fca730;
  --bad-radial: #fee8c6;
  --bad-border: #{rgba(#e07b13, 0.5)};
  --bad-shadow: #{rgba(#bc600c, 0.5)};
  --bad-mouth-fill: #ab6c09;
  --bad-mouth-shadow: #{rgba(#945907, 0.4)};
  --bad-mouth-shine: #fde0b4;
  --bad-color: #fbba4a;
  // Okay colors
  --okay-gradient-start: #febe53;
  --okay-gradient-end: #df820f;
  --okay-fill: #fbbb1f;
  --okay-radial: #fef3bd;
  --okay-border: #{rgba(#e08f06, 0.5)};
  --okay-shadow: #{rgba(#be6d09, 0.5)};
  --okay-mouth-fill: #ab7509;
  --okay-mouth-shadow: #{rgba(#926807, 0.4)};
  --okay-mouth-shine: #ffeece;
  --okay-color: #fbd24b;
  // Good colors
  --good-gradient-start: #fed151;
  --good-gradient-end: #de981f;
  --good-fill: #fbd51f;
  --good-radial: #fef3bd;
  --good-border: #{rgba(#d5a50e, 0.5)};
  --good-shadow: #{rgba(#bb840f, 0.5)};
  --good-mouth-fill: #ab7509;
  --good-mouth-shadow: #{rgba(#926807, 0.4)};
  --good-mouth-shine: #ffeece;
  --good-color: #fcd34a;
  // Great colors
  --great-gradient-start: #a1bd53;
  --great-gradient-end: #73ad5f;
  --great-fill: #f4ef51;
  --great-radial: #fdfdec;
  --great-border: #{rgba(#a7bb2e, 0.5)};
  --great-shadow: #{rgba(#888632, 0.5)};
  --great-mouth-fill: #8a8313;
  --great-mouth-shadow: #{rgba(#5d5003, 0.25)};
  --great-mouth-shine: #fdf8b4;
  --great-color: #d2f482;
  /* stylelint-disable declaration-colon-newline-after */
  width: 320px;
  height: 288px;
  border-radius: 13px;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(
    var(--gradient-start, var(--awful-gradient-start)),
    var(--gradient-end, var(--awful-gradient-end))
  );

  & > ul,
  .emoji-slider-bottom ul {
    li {
      transform: translateY(var(--y, 0));
      opacity: var(--o, 0);
      transition: opacity 0.2s;

      &:not(:first-child) {
        width: 100%;
        position: absolute;
      }

      &:nth-child(2) {
        top: 100% * (2 - 1);
      }

      &:nth-child(3) {
        top: 100% * (3 - 1);
      }

      &:nth-child(4) {
        top: 100% * (4 - 1);
      }

      &:nth-child(5) {
        top: 100% * (5 - 1);
      }
    }
  }

  &.awful {
    & > ul,
    .emoji-slider-bottom ul {
      li:nth-child(1) {
        --o: 1;
      }
    }
  }

  &.bad {
    & > ul,
    .emoji-slider-bottom ul {
      li:nth-child(2) {
        --o: 1;
      }
    }
  }

  &.okay {
    & > ul,
    .emoji-slider-bottom ul {
      li:nth-child(3) {
        --o: 1;
      }
    }
  }

  &.good {
    & > ul,
    .emoji-slider-bottom ul {
      li:nth-child(4) {
        --o: 1;
      }
    }
  }

  &.great {
    & > ul,
    .emoji-slider-bottom ul {
      li:nth-child(5) {
        --o: 1;
      }
    }

    .smiley {
      svg {
        &.teeth {
          --teeth: 1;
        }
      }
    }
  }

  &.scale {
    .smiley {
      animation: scale 0.6s ease forwards;
    }
  }

  & > ul {
    top: 12px;
    left: 0;
    right: 0;
    font-size: 80px;
    font-weight: 900;
    opacity: 0.4;
    text-align: center;
    position: absolute;
    text-transform: uppercase;

    li {
      user-select: none;
      background-image: linear-gradient(rgba(#fff, 0.9), rgba(#fff, 0) 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .smiley {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 1;
    margin: 60px auto 0 auto;
    position: relative;
    background: radial-gradient(
      circle,
      var(--radial, var(--awful-radial)) 0%,
      var(--fill, var(--awful-fill)) 70%
    );
    background-size: 100% 180%;
    background-position: center bottom;
    box-shadow: inset 0 0 0 4px var(--border, var(--awful-border)),
      inset 0 -10px 12px var(--shadow, var(--awful-shadow));
    filter: drop-shadow(0 8px 16px rgba(#000, 0.16));

    svg {
      display: block;
      position: absolute;
      backface-visibility: hidden;
      transform: translateZ(0);
      fill: var(--mouth-fill, var(--awful-mouth-fill));

      &.eye {
        width: 18px;
        height: 22px;
        top: 34px;
        filter: drop-shadow(0 1px 2px var(--mouth-shine, var(--awful-mouth-shine)))
          url(#inset-shadow);

        &.left {
          left: 30px;
        }

        &.right {
          right: 30px;
          transform: scaleX(-1);
        }
      }

      &.mouth,
      &.teeth {
        width: 64px;
        height: 28px;
        left: 28px;
        bottom: 24px;
      }

      &.mouth {
        filter: drop-shadow(0 1px 2px var(--mouth-shine, var(--awful-mouth-shine)))
          drop-shadow(0 -1px 1px var(--mouth-shadow, var(--awful-mouth-shadow)))
          url(#inset-shadow);
      }

      &.teeth {
        fill: #fff;
        opacity: var(--teeth, 0);
        transition: opacity 0.2s;
      }
    }
  }

  .emoji-slide {
    left: 28px;
    right: 28px;
    bottom: 68px;
    height: 12px;
    position: absolute;

    .emoji-container {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #fff;
      top: -6px;
      left: -12px;
      box-shadow: 0 2px 6px rgba(#000, 0.2);
      position: relative;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -3px;
      width: 273px;
      height: 12px;
      background-image: url('data:image/svg+xml;utf8,<svg width="273px" height="12px" viewBox="0 0 273 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M266.934082,0.00110627889 C270.247182,-0.0357036686 272.96282,2.62025389 272.99963,5.93335351 C272.999877,5.95556942 273,5.97778653 273,6.00000382 C273,9.31330792 270.314036,11.9992716 267.000732,11.9992716 C266.978515,11.9992716 266.956298,11.9991482 266.934082,11.9989014 L2.96667078,9.06611103 C1.32291919,9.04784825 1.97412392e-14,7.71014921 0,6.06629617 L0,5.93371146 C9.7279267e-16,4.28985843 1.32291919,2.95215939 2.96667078,2.93389661 L266.934082,0.00110627889 Z M267,1.45028446 C264.514719,1.45028446 262.5,3.4872632 262.5,6.00000382 C262.5,8.51274443 264.514719,10.5497232 267,10.5497232 C269.485281,10.5497232 271.5,8.51274443 271.5,6.00000382 C271.5,3.4872632 269.485281,1.45028446 267,1.45028446 Z M210,1.95580884 C207.790861,1.95580884 206,3.7664566 206,6.00000382 C206,8.23355103 207.790861,10.0441988 210,10.0441988 C212.209139,10.0441988 214,8.23355103 214,6.00000382 C214,3.7664566 212.209139,1.95580884 210,1.95580884 Z M137,2.46133321 C135.067003,2.46133321 133.5,4.04565001 133.5,6.00000382 C133.5,7.95435763 135.067003,9.53867443 137,9.53867443 C138.932997,9.53867443 140.5,7.95435763 140.5,6.00000382 C140.5,4.04565001 138.932997,2.46133321 137,2.46133321 Z M64,2.96685758 C62.3431458,2.96685758 61,4.32484341 61,6.00000382 C61,7.67516423 62.3431458,9.03315005 64,9.03315005 C65.6568542,9.03315005 67,7.67516423 67,6.00000382 C67,4.32484341 65.6568542,2.96685758 64,2.96685758 Z M3,3.97790633 C1.8954305,3.97790633 1,4.88323021 1,6.00000382 C1,7.11677742 1.8954305,8.02210131 3,8.02210131 C4.1045695,8.02210131 5,7.11677742 5,6.00000382 C5,4.88323021 4.1045695,3.97790633 3,3.97790633 Z" fill="white" fill-opacity=".25"></path></svg>');
    }
  }

  .emoji-slider-bottom {
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 23px;
    color: rgba(#fff, 0.8);
    padding: 8px 16px;
    border-radius: 0 0 13px 13px;
    background: rgba(#000, 0.1);
    position: absolute;

    ul {
      font-weight: 900;
      vertical-align: top;
      position: relative;
      display: inline-block;
      color: var(--color, var(--awful-color));
    }

    .emoji-response-save {
      -webkit-appearance: none;
      border: 0;
      margin: 0;
      padding: 0 12px;
      line-height: 25px;
      height: 25px;
      border-radius: 13px;
      position: absolute;
      cursor: pointer;
      outline: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      right: 16px;
      top: 7px;
      background: var(--gradient-end, var(--awful-gradient-end));
    }
  }
}

@keyframes scale {
  50% {
    transform: scale(1.08) translateZ(0);
    filter: drop-shadow(0 8px 24px rgba(#000, 0.12));
  }
}
